<form class="well well-small" method="post" action="/users/do_login/">
	<div style="padding:7px 0px 7px 0px;"><a href="/users/do_rememberPass/" style="color:#ffffff;">Восстановить пароль</a></div>
	<input type="text" name="login"    value="{if $smarty.cookies.login}{$smarty.cookies.login}{else}Email{/if}"    style="width:190px;height:25px;" onFocus="if (this.value=='Email') this.value='';" onBlur="if (this.value=='') this.value='Email';">
	<input type="text" name="password" value="{if $smarty.cookies.password}{$smarty.cookies.password}{else}Пароль{/if}" style="width:190px;height:25px;" onFocus="if (this.value=='Пароль') this.value='';" onBlur="if (this.value=='') this.value='Пароль';">
	<div>
		<input type="checkbox" name="saving" value="1" id="rememberme">
		<label for="rememberme" class="checkbox">
			<font style="color:#ffffff;">Запомнить меня</font>
		</label>
	</div>
	<nobr>
	<button type="submit" class="btn" style="width:76px;"><i class="icon-user"></i> Войти</button>
	<a class="btn btn-danger" href="/users/register/" style="width:90px;"><i class="icon-pencil"></i> Регистрация</a>
	</nobr>
</form>