<form class="well" method="post" action="/users/do_logout/">
	<input type="text" value="{$SetName}" style="width:190px;" disabled><br>
	<nobr>
	<button type="submit" class="btn" style="width:76px;"><i class="icon-user"></i> Выйти</button>
	<a class="btn btn-success" href="http://auto-zp.ru/panel/index.php" style="width:90px;" target="_blank"><i class="icon-time"></i> Управление</a>
	</nobr>
</form>