<div style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;">
	<div>Технический центр FordClass</div>
	<div>Мы благодарим Вас за пользование нашим сайтом.<br><br>
	Логин: <b>{$RegLogin}</b><br>
	Пароль: <b>{$RegPass}</b>
	<br><br>
	<div>
	На нашем сайте Вы можете:<br>
	<ul>
		<li>Запрашивать запчасти по VIN коду</li>
		<li>Делать заказы on-line</li>
		<li>Подбирать запчасти для своего автомобиля самостоятельно либо с помощью менеджера</li>
		<li>Следить за своими заказами on-line</li>
		<li>Просматривать историю заказов</li>
		<li>А так же участвовать в акциях и получать скидки.</li>
	</ul>
	</div>
	<br><br>
	<b>Коллектив компании «FordClass».</b>
	</div>
</div>