<div style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;">
	<div>Технический центр FordClass</div>
	<div>Мы благодарим Вас за регистрацию на нашем сайте.<br><br>
	Логин: <b>{$smarty.post.RegMail}</b><br>
	Пароль: <b>{$smarty.post.RegPass}</b>
	<br><br>
	если Вы прошли регистрацию на нашем сайте по ошибке, просто проигнорируйте это письмо и в течении 24 часов Ваши данные будут автоматически удалены.
	</div>

	<br><br>
	<div>
	На нашем сайте Вы можете:<br>
	<ul>
		<li>Запрашивать запчасти по VIN коду</li>
		<li>Делать заказы on-line</li>
		<li>Подбирать запчасти для своего автомобиля самостоятельно либо с помощью менеджера</li>
		<li>Следить за своими заказами on-line</li>
		<li>Просматривать историю заказов</li>
		<li>А так же участвовать в акциях и получать скидки.</li>
	</ul>
	</div>
	<br><br>
	<div>ВНИМАНИЕ: Подтверждение регистрации действительно в течении 24 часов. Если Вы не успели подтвердить регистрацию, Вы можете заново заполнить форму регистрации.<br>
	Желаем Вам приятной работы.<br>
	<b>Коллектив компании «FordClass».</b>
	</div>
</div>