<div style="padding:20px;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;color : #000000;">

	<b class='text20'>Вы успешно зарегистрировались.</b><br><br>
	На Вашу почту выслано письмо - получите пароль и авторизуйтесь.<br>
	Чтобы авторизоваться на сайте вам необходимо ввести свою <b>электронную почту и пароль</b>.
	<br><br>
	На нашем сайте Вы сможете:
	<ul align='left'>
		<li>Запрашивать запчасти по VIN коду</li>
		<li>Делать заказы on-line</li>
		<li>Подбирать запчасти для своего автомобиля самостоятельно либо с помощью менеджера</li>
		<li>Следить за своими заказами on-line</li>
		<li>Просматривать историю заказов</li>
	</ul>
	<br><br>
	<b>Желаем приятной работы.</b>

</div>