form input { height:28px!important }
.preload {display:none;}

.menuitem1 { /*меню 1 уровня*/
	margin: 2px;	padding:6px 0px 0px 10px;
	width:180px;
	height:25px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.menuitem2 { /*меню второго уровня*/
	margin: 2px 2px 2px 20px;
	padding:4px 0px 0px 10px;
	width:160px;
	height:22px;
	-webkit-border-radius:3px;
	border-radius:3px;
}